In [91]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [92]:
# Load in Dataset
df = pd.read_csv("/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Processed/unique_officers.csv")

In [93]:
# Get Columns
print(df.columns)

Index(['OfficerID', 'OfficerFirst', 'OfficerLast', 'Gender', 'Race',
       'ApptDate', 'Unit', 'Rank', 'Star', 'Age', 'Beat', 'num_allegations'],
      dtype='object')

In [94]:
# Drop Columns
df = df.drop(columns=['OfficerFirst', 'OfficerLast', 'Unit', "Star"])

In [95]:
print(df.isnull())
# get index of rows with null values
null_data = df[df.isnull().any(axis=1)]
print(null_data)
# drop rows with null values
df = df.dropna()
print(df)

      OfficerID  Gender   Race  ApptDate   Rank    Age   Beat  num_allegations
0         False   False  False     False  False  False  False            False
1         False   False  False     False  False  False  False            False
2         False   False  False     False  False  False  False            False
3         False   False  False     False  False  False  False            False
4         False   False  False     False  False  False  False            False
...         ...     ...    ...       ...    ...    ...    ...              ...
9396      False   False  False     False   True  False  False            False
9397      False   False  False      True   True  False  False            False
9398      False   False  False      True   True  False  False            False
9399      False   False  False      True   True  False  False            False
9400      False   False  False      True   True  False  False            False

[9401 rows x 8 columns]
      OfficerID Gender           Race  ApptDate Rank  Age    Beat  \
3686      31998      M       Hispanic   36458.0  NaN   46   314.0
3774      32183      M       Hispanic   38769.0  NaN   40  1212.0
3789      32219      M          White   36809.0  NaN   46  1513.0
3893      33782      F          Black       NaN  NaN   61  1134.0
3894      33832      M          Black       NaN  NaN   32   111.0
3895      33833      F          Black       NaN  NaN   62   213.0
3965       1403      M          White   20323.0  NaN   90  1833.0
5647      31960      M          White   36066.0  NaN   48   532.0
5692      32448      M          Black   31110.0  NaN   62  1811.0
5693      33778      M          Black       NaN  NaN   61   211.0
5694      33845      F          Black       NaN  NaN   39   211.0
6785      32340      F          Black   30284.0  NaN   62   832.0
7607      33848      M          White       NaN  NaN   56   122.0
9003      33841      F          Black       NaN  NaN   43   213.0
9395      32362      F  Asian/Pacific   37404.0  NaN   50  1924.0
9396      32463      M          White   30284.0  NaN   63   213.0
9397      33685      M          Black       NaN  NaN   54   213.0
9398      33780      F       Hispanic       NaN  NaN   57  2515.0
9399      33793      F          White       NaN  NaN   51   213.0
9400      33835      M          White       NaN  NaN   34   213.0

      num_allegations
3686                1
3774                3
3789                7
3893                1
3894                1
3895                3
3965                1
5647                2
5692                2
5693                1
5694                1
6785                1
7607                1
9003                1
9395                1
9396                1
9397                1
9398                1
9399                2
9400                1
      OfficerID Gender           Race  ApptDate                Rank  Age  \
0             1      M          White   38621.0  Sergeant Of Police   51
1             2      F       Hispanic   38621.0      Police Officer   42
2             7      M          White   35037.0      Police Officer   50
3            13      M          White   30284.0      Police Officer   69
4            16      M  Asian/Pacific   39566.0      Police Officer   38
...         ...    ...            ...       ...                 ...  ...
9390      32138      M          White   35675.0  Sergeant Of Police   59
9391      32140      M          White   34456.0                  Po   53
9392      32298      M          White   36696.0                  Po   45
9393      32300      M          White   36584.0                 Det   46
9394      32354      M  Asian/Pacific   38285.0                  Po   43

        Beat  num_allegations
0     1121.0                4
1     1511.0                5
2     1613.0                2
3     1655.0                1
4      832.0               14
...      ...              ...
9390  1112.0                1
9391   522.0                1
9392   421.0                2
9393  1923.0                1
9394  1513.0                1

[9381 rows x 8 columns]

In [96]:
target = df["num_allegations"]
data = df.drop(columns=["num_allegations"])
print(data, target)

      OfficerID Gender           Race  ApptDate                Rank  Age  \
0             1      M          White   38621.0  Sergeant Of Police   51
1             2      F       Hispanic   38621.0      Police Officer   42
2             7      M          White   35037.0      Police Officer   50
3            13      M          White   30284.0      Police Officer   69
4            16      M  Asian/Pacific   39566.0      Police Officer   38
...         ...    ...            ...       ...                 ...  ...
9390      32138      M          White   35675.0  Sergeant Of Police   59
9391      32140      M          White   34456.0                  Po   53
9392      32298      M          White   36696.0                  Po   45
9393      32300      M          White   36584.0                 Det   46
9394      32354      M  Asian/Pacific   38285.0                  Po   43

        Beat
0     1121.0
1     1511.0
2     1613.0
3     1655.0
4      832.0
...      ...
9390  1112.0
9391   522.0
9392   421.0
9393  1923.0
9394  1513.0

[9381 rows x 7 columns] 0        4
1        5
2        2
3        1
4       14
        ..
9390     1
9391     1
9392     2
9393     1
9394     1
Name: num_allegations, Length: 9381, dtype: int64

In [97]:
# Use one hot encoding on the columns: Gender, Race, Rank
enc = OneHotEncoder(handle_unknown='ignore')
temp_df = data[["Gender", "Race", "Rank"]]
enc_df = pd.DataFrame(enc.fit_transform(temp_df).toarray())
# drop index column
enc_df = enc_df.drop(columns=[0])
print(enc_df)

       1    2    3    4    5    6    7    8    9    10  ...   30   31   32  \
0     1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
2     1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
3     1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
4     1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9376  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
9377  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
9378  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
9379  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
9380  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

       33   34   35   36   37   38   39
0     0.0  0.0  0.0  0.0  1.0  0.0  0.0
1     0.0  0.0  0.0  1.0  0.0  0.0  0.0
2     0.0  0.0  0.0  1.0  0.0  0.0  0.0
3     0.0  0.0  0.0  1.0  0.0  0.0  0.0
4     0.0  0.0  0.0  1.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
9376  0.0  0.0  0.0  0.0  1.0  0.0  0.0
9377  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9378  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9379  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9380  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[9381 rows x 39 columns]

In [98]:
# join with the original dataframe, index column is the common column
data = data.join(enc_df, how='left')
data = data.drop(columns=["Gender", "Race", "Rank"])
print(data)

      OfficerID  ApptDate  Age    Beat    1    2    3    4    5    6  ...  \
0             1   38621.0   51  1121.0  1.0  0.0  0.0  0.0  0.0  1.0  ...
1             2   38621.0   42  1511.0  0.0  0.0  0.0  1.0  0.0  0.0  ...
2             7   35037.0   50  1613.0  1.0  0.0  0.0  0.0  0.0  1.0  ...
3            13   30284.0   69  1655.0  1.0  0.0  0.0  0.0  0.0  1.0  ...
4            16   39566.0   38   832.0  1.0  1.0  0.0  0.0  0.0  0.0  ...
...         ...       ...  ...     ...  ...  ...  ...  ...  ...  ...  ...
9390      32138   35675.0   59  1112.0  NaN  NaN  NaN  NaN  NaN  NaN  ...
9391      32140   34456.0   53   522.0  NaN  NaN  NaN  NaN  NaN  NaN  ...
9392      32298   36696.0   45   421.0  NaN  NaN  NaN  NaN  NaN  NaN  ...
9393      32300   36584.0   46  1923.0  NaN  NaN  NaN  NaN  NaN  NaN  ...
9394      32354   38285.0   43  1513.0  NaN  NaN  NaN  NaN  NaN  NaN  ...

       30   31   32   33   34   35   36   37   38   39
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9390  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9391  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9392  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9393  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9394  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[9381 rows x 43 columns]

In [99]:
# frequency encoding on the column Beat
beat_freq = data["Beat"].value_counts()
data["Beat"] = data["Beat"].map(beat_freq)

officerid = data["OfficerID"].value_counts()
data["OfficerID"] = data["OfficerID"].map(officerid)

# divide ApptDate column by 1000
data["ApptDate"] = data["ApptDate"] / 1000

# combine data and target
data = data.join(target, how='left')
# drop rows with null values
data = data.dropna()
# separate data and target
target = data["num_allegations"]
data = data.drop(columns=["num_allegations"])

In [100]:
lr = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

lr.fit(X_train, y_train)
print(lr.score(X_test, y_test))

0.06574998603396431

/Users/jeremyhudsonchan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/jeremyhudsonchan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(