In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/2000-2016/allegations.csv", low_memory=False)
profile_df = pd.read_csv("/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/2000-2016/officer_profile.csv", low_memory=False)

In [38]:
df.shape
df.columns

Index(['CRID', 'OfficerID', 'OfficeFirst', 'OfficerLast', 'AllegationCode',
       'Category', 'Allegation', 'RecommendedFinding', 'RecommendedOutcome',
       'FinalFinding', 'FinalOutcome', 'Finding', 'Outcome', 'Beat',
       'Location', 'Add1', 'Add2', 'City', 'IncidentDate', 'StartDate',
       'EndDate', 'InvestigatorName', 'InvestigatorRank', 'Latitude',
       'Longitude'],
      dtype='object')

In [39]:
df.dropna()
df = df.drop(["Latitude","Longitude"], axis=1)
df.shape
df.head()

,CRID,OfficerID,OfficeFirst,OfficerLast,AllegationCode,Category,Allegation,RecommendedFinding,RecommendedOutcome,FinalFinding,...,Beat,Location,Add1,Add2,City,IncidentDate,StartDate,EndDate,InvestigatorName,InvestigatorRank
0,C251775,29265,James,Valenzano,08M,Criminal Misconduct,Other Felony,NaN,NaN,NS,...,NaN,NaN,NaN,NaN,NaN,2000-02-19 00:00:00,1999-02-19,2000-04-04,NaN,NaN
1,C255605,22231,Albert,Perez,10Z,Operation/Personnel Violations,Miscellaneous,NaN,NaN,NS,...,NaN,NaN,NaN,NaN,NaN,2000-08-06 00:00:00,1999-08-05,2001-06-04,NaN,NaN
2,C255605,15930,Allen,Lee,10Z,Operation/Personnel Violations,Miscellaneous,NaN,NaN,NS,...,NaN,NaN,NaN,NaN,NaN,2000-08-06 00:00:00,1999-08-05,2001-06-04,NaN,NaN
3,C255605,1314,Donald,Barker,10Z,Operation/Personnel Violations,Miscellaneous,NaN,NaN,NS,...,NaN,NaN,NaN,NaN,NaN,2000-08-06 00:00:00,1999-08-05,2001-06-04,NaN,NaN
4,C255605,23634,Mark,Regal,10Z,Operation/Personnel Violations,Miscellaneous,NaN,NaN,NS,...,NaN,NaN,NaN,NaN,NaN,2000-08-06 00:00:00,1999-08-05,2001-06-04,NaN,NaN

In [40]:
# Note Complaint Register ID Number (CRID)
allegations_officers_df = df[["OfficerID","OfficeFirst","OfficerLast"]]
allegations_officers_df.head()

   OfficerID OfficeFirst OfficerLast
0      29265       James   Valenzano
1      22231      Albert       Perez
2      15930       Allen         Lee
3       1314      Donald      Barker
4      23634        Mark       Regal

In [41]:
officers = pd.unique(allegations_officers_df["OfficerID"]).shape

In [42]:
pd.unique(df["Beat"]).shape

(276,)

In [43]:
profile_df.columns

Index(['OfficerID', 'OfficerFirst', 'OfficerLast', 'Gender', 'Race',
       'ApptDate', 'Unit', 'Rank', 'Star', 'Age'],
      dtype='object')

In [44]:
officers_2 = pd.unique(profile_df["OfficerID"]).shape

In [45]:
unique_officers = profile_df.drop_duplicates(subset="OfficerID")
unique_officers.shape

(16368, 10)

In [48]:
# Make a new column in unique_officers called "Beat" where the value is a float
unique_officers["Beat"] = 0
unique_officers["Beat"] = unique_officers["Beat"].astype(float)
# unique_officers["Beat"] = 0.0
unique_officers.columns

/var/folders/64/7cc975tn74sb3dg4ztck8zsw0000gn/T/ipykernel_54179/2406453936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_officers["Beat"] = 0
/var/folders/64/7cc975tn74sb3dg4ztck8zsw0000gn/T/ipykernel_54179/2406453936.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_officers["Beat"] = unique_officers["Beat"].astype(float)

Index(['OfficerID', 'OfficerFirst', 'OfficerLast', 'Gender', 'Race',
       'ApptDate', 'Unit', 'Rank', 'Star', 'Age', 'Beat'],
      dtype='object')

In [49]:
for index, row in unique_officers.iterrows():
  unique_officers.loc[index, "Beat"] = df.loc[df["OfficerID"] == row["OfficerID"], "Beat"].iloc[0]

In [50]:
# Load Excel Sheets using ExcelFile
zero = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2000_allegation.xlsx')
one = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis//Data/Website/2001_allegation.xlsx')
two = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2002_allegation.xlsx')
three = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2003_allegation.xlsx')
four = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2004_allegation.xlsx')
five = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2005_allegation.xlsx')
six = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2006_allegation.xlsx')
seven = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2007_allegation.xlsx')
eight = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2008_allegation.xlsx')
nine = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2009_allegation.xlsx')
ten = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2010_allegation.xlsx')
eleven = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis//Data/Website/2011_allegation.xlsx')
twelve = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2012_allegation.xlsx')
thirteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2013_allegation.xlsx')
fourteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2014_allegation.xlsx')
fifteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2015_allegation.xlsx')
sixteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2016_allegation.xlsx')

In [51]:
# Select excel sheet allegations from excel file
allegations_00 = zero.parse('Allegations')
allegations_01 = one.parse('Allegations')
allegations_02 = two.parse('Allegations')
allegations_03 = three.parse('Allegations')
allegations_04 = four.parse('Allegations')
allegations_05 = five.parse('Allegations')
allegations_06 = six.parse('Allegations')
allegations_07 = seven.parse('Allegations')
allegations_08 = eight.parse('Allegations')
allegations_09 = nine.parse('Allegations')
allegations_10 = ten.parse('Allegations')
allegations_11 = eleven.parse('Allegations')
allegations_12 = twelve.parse('Allegations')
allegations_13 = thirteen.parse('Allegations')
allegations_14 = fourteen.parse('Allegations')
allegations_15 = fifteen.parse('Allegations')
allegations_16 = sixteen.parse('Allegations')

# combine allegations from 2010-2016 into one csv
allegations = pd.concat([allegations_00, allegations_01, allegations_02, allegations_03, allegations_04, allegations_05, allegations_06, allegations_07, allegations_08, allegations_09, allegations_10, allegations_11, allegations_12, allegations_13,
                        allegations_14, allegations_15, allegations_16], ignore_index=True)

In [52]:
allegations_count = allegations.groupby('OfficerID').size().reset_index(name='allegations')
print(allegations_count.head())
unique_officers['num_allegations'] = unique_officers['OfficerID'].map(allegations_count.set_index('OfficerID')['allegations'])

   OfficerID  allegations
0          1            6
1          2            8
2          4            2
3          6            4
4          7            5

/var/folders/64/7cc975tn74sb3dg4ztck8zsw0000gn/T/ipykernel_54179/3749225212.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_officers['num_allegations'] = unique_officers['OfficerID'].map(allegations_count.set_index('OfficerID')['allegations'])

In [53]:
unique_officers.shape

(16368, 12)

In [54]:
unique_officers = unique_officers.dropna(subset=["Beat"])
unique_officers.shape

(10038, 12)

In [55]:
print(unique_officers.head())

    OfficerID OfficerFirst OfficerLast Gender      Race  ApptDate  Unit  \
18         92        James       Adams      M     White   34485.0   NaN
21         95        Jerry       Adams      M     White   21900.0   NaN
32        143      Juanita    Adegbore      F     Black   35555.0   NaN
40        190       Daniel    Aguilera      M  Hispanic   33588.0   NaN
43        200      Richard    Aguinaga      M  Hispanic   26231.0   NaN

                  Rank  Star  Age    Beat  num_allegations
18     Po As Detective   NaN   52  2532.0               14
21  Sergeant Of Police   NaN   88   131.0               12
32      Police Officer   NaN   57   531.0                9
40      Police Officer   NaN   66   511.0               13
43   Captain Of Police   NaN   72  1134.0                9

In [57]:
unique_officers.to_csv("/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Processed/unique_officers.csv", index=False)