In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Totals/allegations.csv", low_memory=False)
profile_df = pd.read_csv("/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Totals/officer_profile.csv", low_memory=False)

In [6]:
df.shape
df.columns

Index(['CRID', 'OfficerID', 'OfficeFirst', 'OfficerLast', 'AllegationCode',
       'Category', 'Allegation', 'RecommendedFinding', 'RecommendedOutcome',
       'FinalFinding', 'FinalOutcome', 'Finding', 'Outcome', 'Beat',
       'Location', 'Add1', 'Add2', 'City', 'IncidentDate', 'StartDate',
       'EndDate', 'InvestigatorName', 'InvestigatorRank', 'Latitude',
       'Longitude'],
      dtype='object')

In [7]:
df.dropna()
df = df.drop(["Latitude","Longitude"], axis=1)
df.shape
df.head()

,CRID,OfficerID,OfficeFirst,OfficerLast,AllegationCode,Category,Allegation,RecommendedFinding,RecommendedOutcome,FinalFinding,...,Beat,Location,Add1,Add2,City,IncidentDate,StartDate,EndDate,InvestigatorName,InvestigatorRank
0,1038477,3388,Jennifer,Burmistrz,03C,Illegal Search,Search Of Premise Without Warrant,NS,600.0,NS,...,614.0,Public Way - Other,86XX,S ASHLAND AVE,CHICAGO IL 60620,2010-07-29 00:00:00,2010-07-29,2010-11-16,NaN,NaN
1,1033910,1440,Anthony,Barsano,07F,Traffic,Miscellaneous,NaN,600.0,NaN,...,2012.0,Public Way - Other,19XX,W BRYN MAWR AVE,CHICAGO IL,2010-02-13 00:00:00,2010-02-16,2010-05-14,NaN,NaN
2,1038675,13495,Dwayne,Johnson,16E,Illegal Search,Improper Service Of Warrant,NaN,NaN,NaN,...,713.0,Private Residence,NaN,NaN,NaN,2010-08-06 00:00:00,2010-08-06,2010-09-02,NaN,NaN
3,1036600,24844,Robert,Rubio,05A,Use Of Force,Excessive Force / On Duty - Injury,NS,600.0,NS,...,2515.0,Police Building,55XX,W GRAND AVE,CHICAGO IL 60639,2010-05-22 00:00:00,2010-05-25,2014-07-09,NaN,NaN
4,1038784,4835,Angela,Cleveland,10U,Operation/Personnel Violations,Inadequate / Failure To Provide Service,NaN,600.0,NaN,...,1822.0,Private Residence,NaN,NaN,NaN,2010-08-04 00:00:00,2010-08-10,2010-11-12,Paul Mclaughlin,Captain Of Police

In [8]:
# Note Complaint Register ID Number (CRID)
allegations_officers_df = df[["OfficerID","OfficeFirst","OfficerLast"]]
allegations_officers_df.head()

   OfficerID OfficeFirst OfficerLast
0       3388    Jennifer   Burmistrz
1       1440     Anthony     Barsano
2      13495      Dwayne     Johnson
3      24844      Robert       Rubio
4       4835      Angela   Cleveland

In [9]:
officers = pd.unique(allegations_officers_df["OfficerID"]).shape

In [10]:
pd.unique(df["Beat"]).shape

(276,)

In [11]:
profile_df.columns

Index(['OfficerID', 'OfficerFirst', 'OfficerLast', 'Gender', 'Race',
       'ApptDate', 'Unit', 'Rank', 'Star', 'Age'],
      dtype='object')

In [12]:
officers_2 = pd.unique(profile_df["OfficerID"]).shape

In [13]:
unique_officers = profile_df.drop_duplicates(subset="OfficerID")
unique_officers.shape

(9953, 10)

In [15]:
unique_officers["Beat"] = ""
unique_officers.columns

/var/folders/64/7cc975tn74sb3dg4ztck8zsw0000gn/T/ipykernel_32148/2012791940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_officers["Beat"] = ""

Index(['OfficerID', 'OfficerFirst', 'OfficerLast', 'Gender', 'Race',
       'ApptDate', 'Unit', 'Rank', 'Star', 'Age', 'Beat'],
      dtype='object')

In [16]:
for index, row in unique_officers.iterrows():
  unique_officers.loc[index, "Beat"] = df.loc[df["OfficerID"] == row["OfficerID"], "Beat"].iloc[0]

In [17]:
# Load Excel Sheets using ExcelFile
ten = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2010_allegation.xlsx')
eleven = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis//Data/Website/2011_allegation.xlsx')
twelve = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2012_allegation.xlsx')
thirteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2013_allegation.xlsx')
fourteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2014_allegation.xlsx')
fifteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2015_allegation.xlsx')
sixteen = pd.ExcelFile('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Website/2016_allegation.xlsx')

In [18]:
# Select excel sheet allegations from excel file
allegations_10 = ten.parse('Allegations')
allegations_11 = eleven.parse('Allegations')
allegations_12 = twelve.parse('Allegations')
allegations_13 = thirteen.parse('Allegations')
allegations_14 = fourteen.parse('Allegations')
allegations_15 = fifteen.parse('Allegations')
allegations_16 = sixteen.parse('Allegations')

# combine allegations from 2010-2016 into one csv
allegations = pd.concat([allegations_10, allegations_11, allegations_12, allegations_13,
                        allegations_14, allegations_15, allegations_16], ignore_index=True)

In [19]:
allegations_count = allegations.groupby('OfficerID').size().reset_index(name='allegations')
print(allegations_count.head())
unique_officers['num_allegations'] = unique_officers['OfficerID'].map(allegations_count.set_index('OfficerID')['allegations'])

   OfficerID  allegations
0          1            4
1          2            5
2          7            2
3         13            1
4         15            1

/var/folders/64/7cc975tn74sb3dg4ztck8zsw0000gn/T/ipykernel_32148/3749225212.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_officers['num_allegations'] = unique_officers['OfficerID'].map(allegations_count.set_index('OfficerID')['allegations'])

In [20]:
unique_officers.shape

(9953, 12)

In [21]:
unique_officers = unique_officers.dropna(subset=["Beat"])
unique_officers.shape

(9401, 12)

In [22]:
unique_officers.to_csv("unique_officers.csv", index=False)