In [23]:
import pandas as pd

In [24]:
officer_profile = pd.read_csv('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Processed/2010-2014/test/officer_profile.csv', low_memory=False)
new_allegations = pd.read_csv('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/2015-2016/allegations.csv', low_memory=False)

In [25]:
officer_profile.columns, new_allegations.columns, new_allegations.shape

(Index(['OfficerID', 'OfficerFirst', 'OfficerLast', 'Gender', 'Race',
        'ApptDate', 'Rank', 'Age', 'Beat', 'historic_counts',
        'prev_allegations'],
       dtype='object'),
 Index(['CRID', 'OfficerID', 'OfficeFirst', 'OfficerLast', 'AllegationCode',
        'Category', 'Allegation', 'RecommendedFinding', 'RecommendedOutcome',
        'FinalFinding', 'FinalOutcome', 'Finding', 'Outcome', 'Beat',
        'Location', 'Add1', 'Add2', 'City', 'IncidentDate', 'StartDate',
        'EndDate', 'InvestigatorName', 'InvestigatorRank', 'Latitude',
        'Longitude'],
       dtype='object'),
 (6957, 25))

In [26]:
# count how many times allegations are made against each officer, matching it using OfficerID
officer_profile["new_allegation"] = officer_profile["OfficerID"].map(new_allegations["OfficerID"].value_counts())
officer_profile["new_allegation"].fillna(0, inplace=True)
officer_profile.head(10)

,OfficerID,OfficerFirst,OfficerLast,Gender,Race,ApptDate,Rank,Age,Beat,historic_counts,prev_allegations,new_allegation
0,4,Carmel,Abbate,M,White,1/6/69,Po As Detective,80,321.0,71.0,2,0.0
1,13,Dale,Abbott,M,White,11/29/82,Police Officer,69,1511.0,75.0,3,0.0
2,17,Moulay,Abdullah,M,Black,12/26/89,Police Officer,64,2525.0,260.0,25,0.0
3,19,Restituto,Abejero,M,Asian/Pacific,12/13/99,Police Officer,73,1122.0,2.0,5,0.0
4,34,Floyd,Abron,M,Black,6/29/98,Police Officer,49,1212.0,3.0,12,1.0
5,38,Abdalla,Abuzanat,M,Asian/Pacific,6/29/98,Po As Detective,51,1121.0,128.0,13,0.0
6,44,Marco,Acevedo,M,Hispanic,9/5/95,Po As Detective,53,2411.0,143.0,8,0.0
7,58,Manuel,Acevedo,M,Hispanic,7/19/82,Police Officer,66,1651.0,115.0,6,0.0
8,59,Edward,Acevedo,M,Hispanic,6/5/95,Police Officer,59,411.0,164.0,10,0.0
9,61,Martin,Acevedo,M,Hispanic,5/10/99,Police Officer,49,621.0,787.0,8,0.0

In [27]:
# export to csv
officer_profile.to_csv('/Users/jeremyhudsonchan/Dropbox/Files/Boston_College_Courses/Thesis/Data/Processed/Testing/officer_profile.csv', index=False)